<footer class="bg-dark text-center text-white">
      <div class="container p-1">
        <section class="m-2">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/taoufik.aitdra" role="button"><i class="fab fa-facebook-f"></i></a> 
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/home?lang=fr" role="button"><i class="fab fa-twitter"></i></a>
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        </section> 
      </div>   
  </footer>