
<div class="col-12 col-md-8 col-lg-6 col-xxl-6 m-auto">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-secondary my-3">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>