{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
<section>
    <div class="text-center">
        <h1>Création d'un nouveau projet</h1>

        {{ include('project/_form.html.twig') }}

        <a class="btn btn-primary my-3" href={{ path('project_index') }}>Liste des projets</a>
    </div>
</section>
{% endblock %}
